body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 90%);
}

.stopwatch{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-radius: 60px;
  background-color: antiquewhite;
  padding: 35px;
}

.display{
  font-size: 5rem;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: hsl(0, 0%, 20%);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.801);
  margin-bottom: 25px;
}
.controls button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width:125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color:antiquewhite;
  transition: background-color 0.5s ease;

}
.start-button{
  background-color: hsl(115, 100%, 40%);
}
.start-button:hover{
  background-color: hsl(115, 100%, 30%);
}
.stop-button{
  background-color: hsl(10, 90%, 50%);
}
.stop-button:hover{
  background-color: hsl(10, 90%, 40%);
}
.reset-button{
  background-color: hsl(220, 90%, 45%);
}
.reset-button:hover{
  background-color: hsl(220, 90%, 35%);
}
